.AdminSideBar {
  width: 250px;
  margin-left: 0px;
  height: 700px;
  display: flex;
  border: 1px solid gainsboro;
  background-color: #f7f8f7;
  position: absolute;
}

.AdminNavbar {
  width: 100%;
  height: 50px;
  border: 1px solid gainsboro;
  background-color: #f7f8f7;
  display: flex;
  flex-direction: row;
  /* position:relative; */
}

.AdminNavbar > div {
  text-align: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid wheat; */
  font-size: 20px;
  font-weight: bold;
  padding: auto;
  margin: auto;
  /* margin: auto; */
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 10px;
  background-color: white;
  /* border: 1px solid wheat; */
  text-align: center;
}

.row:hover {
  background-color: white;
  color: #f89f17;
  font-weight: bold;
}
.icon {
  margin-top: 5px;
}
