.main-menu {
  display: flex;
  padding: 20px;
  gap: 30px;
  font-family: sans-serif;
  margin-left: 10px;
  width: 90%;
  /* border: 1px solid black;*/
  /* background-color: #f9f9f9;  */
}

.hoverlist p {
  font-weight: bolder;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 0 10px 0;
}
.hoverlist li :hover {
  color: #f89f17;
  font-size: 14px;
}
.hoverlist li {
  list-style-type: none;
  font-size: smaller;
  color: grey;
  cursor: pointer;
  font-size: 13px;
  line-height: 23px;
  transition: all 0.6s;
}
.hoverlist {
  display: grid;
  padding-left: 10px;
  text-align: left;
  margin-right: 10px;
  /* border: 1px solid black; */
}
.category-heading {
  color: #d24041;
}
.category-heading:hover {
  color: #0b0a0a;
  font-size: 15px;
}

/* drop-down */

/* .dropDown:hover > .drop-down-content {
    height: 55vh;
    background-color:#fdfdfd
  } */
.dropDown:hover > .drop-down-content {
  height: 55vh;
  background-color: #fdfdfd;
}

.dropDown {
  font-weight: 700;
}
.dropDown:hover {
  background-color: rgb(255, 255, 255);
}
